/* ================================
            SIDEBAR
================================ */

.sidebar {
    background-color: #e8e8e8;
    color: #484848;
    padding: 15px;
}

.sidebar h3 {
    font-size: 14px;
    font-weight: 900;

}

.sidebar form {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
    margin: 10px 5px;
}

input::placeholder,
textarea::placeholder {                  
    font-size: 11px;
    padding:3px;
}

input[type="submit"] {
    color: #484848;
    font-size: 12px;
}